body,p {
    padding: 0;
    margin: 0;
}
button {
    border: none;
    cursor:pointer;
    background:none;
}
body {
    background-color: #7dbaff;
}
#container {
    padding:50px 40px;
    display: inline-flex;
}

#card-container {
    white-space: nowrap;
    align-items: flex-start;
    display: inline-flex;
    
}

#add-list-button {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    color:#535353;
    cursor:pointer;
}

.card {
    display: inline-block;
    width : 300px;
    background-color:  #eaeaea;
    border-radius: 5px;
    margin-right :20px
}
.card input {
    margin: 5px 10px;
    padding: 0 5px;
    border: none;
    background: none;
    border-radius: 5px;
}
.card input:focus {
    border: none;
    background-color: white;
}
.card .card-add-title-input {    
    width: 270px;
    height: 30px;
}
.card .card-add-title-input:focus {
    width: 270px;
    height: 30px;
}
.card .card-list-button {
    background-color: #0070ef;
    color:white;
    border-radius: 5px;
    margin : 10px;
}
.card .close-btn {
    font-size: 1rem;
}
.card .card-text {
    margin : 10px;
    padding: 0 5px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 1px 5px #00000012;
    line-height: 1.8;
    cursor: move;
}

.card .list-add-input {    
    background-color: white;
    width: 270px;
    height: 100px;
}
.card .list-add-input:focus {
    width: 270px;
    height: 100px;
}