body,p {
    padding: 0;
    margin: 0;
}
button {
    border: none;
    cursor:pointer;
    background:none;
}
body {
    background-color: #7dbaff;
}
#container {
    padding:50px 40px;
    display: inline-flex;
}

#card-container {
    white-space: nowrap;
}

#add-list-button {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    color:#535353;
    cursor:pointer;
}

.card {
    display: inline-block;
    width : 300px;
    min-height:50px;
    background-color:  #fafafa;
    border-radius: 5px;
    margin-right :20px
}
.card input {    
    margin: 10px;
    border: none;
    width: 250px;
    height: 30px;
    background: none;
}
.card input:focus {
    border: none;
    width: 250px;
    height: 30px;
    background-color: white;
}
.card .card-list-button {
    background-color: #0070ef;
    color:white;
    border-radius: 5px;
    margin : 10px;
}
.card .close-btn {
    font-size: 1rem;
}